<div class="container">
  <div class="row">
      <div class="content-area" [@flip]="showResource" *ngIf="showResource">
        <mat-progress-bar *ngIf="timerDuration > 0" mode="determinate" [value]="countDownProgress"></mat-progress-bar>
        <div class="resource">
          <tp-image-container 
            [imgSrc]="currentResource"
            [triggerTutorialEvent]="triggerResourceTutorial.asObservable()"
            (onTutorialClosed)="onResourceTutorialClosed()"
            (onImageLoaded)="onResourceLoaded()"
          ></tp-image-container>
        </div>
        <div *ngIf="timerDuration > 0"  class="timer row"><p>{{ countDown | timeConverter: 'ms':'s' | ceil }}</p></div>
        <div *ngIf="timerDuration <= 0" class="row align-bottom align-right">
          <button mat-raised-button color="primary" (click)="triggerFlip()">Continue</button>
        </div>
      </div>
      <div class="content-area" [@flip]="showTaggingField" *ngIf="showTaggingField">
        <tp-tagging-container
          [triggerTutorialEvent]="triggerTaggingTutorial.asObservable()"
          (onTutorialClosed)="onTaggingTutorialClosed()" 
          (onEmitTags)="submitTags($event)"
        ></tp-tagging-container>
      </div>

      <div 
        *ngIf="config.gamification && config.gamification !== 'NONE'"
        [style.display]="config.hidden ? 'none' : 'block'"
        class="content-area flexible"
      >
        <tp-gamification-container 
          [gamification]="config.gamification"
          [triggerTutorialEvent]="triggerGameElementTutorial.asObservable()" 
          (onTutorialClosed)="onGamificationTutorialClosed()"
        ></tp-gamification-container>
      </div>
  </div>
</div>
