<div class="container">
  <h1>Sound Calibration</h1>
  <p>
    Set your device loudness so you can hear all <strong>six</strong> numbers. 
    The first number should not be too loud and the last not too quiet.
  </p>
  <audio controls>
    <source src="../../../assets/audio/audio_calibration.mp3">
  </audio>

  <p>Please write down the number you heard in the field below.</p>
  <p><em>Note: numeric input, no spaces between the digits.</em></p>
  <div class="hint" [style.opacity]="showHint ? 1 : 0"><small>Wrong Number</small></div>
  <form>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="number"
        name="calibration-input"
        placeholder="Enter Number..."
        [(ngModel)]="calibrationInput"
      />
    </mat-form-field>
  </form>

  <div class="row align-right">
    <button 
      mat-raised-button
      (click)="submitAndNext()"
      [disabled]="disableButton"
      color="primary"
    >
      Continue
    </button>
  </div>
</div>