<h2 mat-dialog-title>Tagging</h2>

<mat-dialog-content class="mat-typography">
  <p>A tag is a <strong>one-word</strong> descriptor matching the resource shown before.</p>
  <h3>Adding Tags</h3>
  <p>In this view you can see the tagging field. Your goal is to describe the content you have been shown before by inserting tags into the input field at the bottom.</p>
  <img src="../../../../assets/images/tutorials/input_field.png">
  <p>You can seperate your tags either by pressing ENTER, SPACE or the <mat-icon>add</mat-icon> button.
    After entering a tag it will appear in the box above the input field:</p>
  <img src="../../../../assets/images/tutorials/tags.png">
  <p>
    Entering a tag multiple times is automatically prevented. It will shortly light up in red in the field of tags you have already entered:
  </p>
  <img src="../../../../assets/images/tutorials/double_tag.png">

  <h3>Removing Tags</h3>
  <p>By pressing the <mat-icon>close</mat-icon> next to the tag, you can remove it from your set.</p>
  
  <h3>Submitting</h3>
  <p>Once you are done with your selection of tags you can press the "next" button on the bottom to continue. <strong>You cannot go back to edit your tags again.</strong></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>