<h2 mat-dialog-title>Data Privacy Information</h2>
<mat-dialog-content class="mat-typography">
  <h3>General information</h3>
  <p>The following study is part of a [TODO] at [TODO].</p>

  <h3>Voluntary participation and freely given consent</h3>
  <p>
    Participation in the study is voluntary. The consent to participate in this study can be revoked at any time and without giving reasons 
    until the end of the data collection process by either ending the survey (a corresponding button is available on the website) or closing the browser window. 
    All incomplete data records will be deleted by us. After the end of data collection, the statutory rights of revocation, information, correction, blocking 
    and deletion can no longer be exercised because the data can no longer be attributed to the data subject.
  </p>

  <h3>What data do we collect from you?</h3>
  <p>After consent to the collection of data, the following data are collected and processed anonymously: </p>
  <ul>
    <li>Entries in the online survey</li>
  </ul>
  <p>
    On this website we use so-called cookies. Cookies are small files that are stored by your web browser. 
    The cookies used on our website do not cause any damage to your computer and do not contain any malicious software. 
    They enable a user-friendly and effective use of this website. We use permanent cookies with a maximum validity period of 365 days. 
    We use these cookies exclusively to exclude multiple participation.
  </p>

  <h3>Anonymization of data</h3>
  <p>
    With the transfer of the collected data to our server, an anonymization takes place, which makes it practically impossible to assign the collected data to a person, 
    as long as no personal data is entered in free text fields. 
  </p>

  <h3>What do we use your data for?</h3>
  <p>
    The results and data are used exclusively for scientific research purposes and will be published anonymously as part of [TODO] and as a scientific 
    publication of this study. They can also be processed anonymously for other scientific research purposes.
  </p>

  <h3>Contact person</h3>
  <p>
    {{contactName}} is responsible for carrying out this study (<a [href]="'mailto:' + contactMail">{{contactMail}}</a>). 
    If you have any questions that are not answered in this privacy statement, or if you would like further information on data protection, please contact us.
  </p>

  <h3>Right of Appeal</h3>
  <p>You have the right to complain to a supervisory authority if you are of the opinion that the processing of your personal data violates statutory data protection regulations.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
